// Credits to https://marguerite.io/

// Site colour settings at the bottom;

$blue-900: #111d33;
$blue-800: #2a4a7f;
$blue-700: #3a67b2;
$blue-600: #4b84e5;
$blue-500: #5393fe;
$blue-400: #73abff;
$blue-300: #cbdfff;
$blue-200: #e3efff;
$blue-100: #f1f8ff;

$green-600: #61a840;
$green-500: #6cbb47;
$green-200: #e2f1da;
$green-100: #f0f8ed;

$grey-1000: #050505;
$grey-900: #111010;
$grey-800: #3d3f42;
$date-text: #a9a9a9;
$grey-700: #7d7f81;
$grey-600: #a9aaab;
$grey-500: #bebfc0;
$grey-400: #d4d4d5;
$grey-300: #e9eaea;
$grey-200: #f2f2f2;
$grey-100: #f9f9fa;

$heart-red: #e21947;
$orange-600: #dc6039;
$orange-500: #f46b3f;
$orange-200: #fde1d9;
$orange-100: #fef0ec;

$pink-500: #e180f9;
$pink-400: #cf9cff;
$pink-300: #e9d8f9;
$pink-200: #f7d8ff;
$pink-100: #f7f1fd;

$mauve-200: #fff7f7;

$purple-900: #36254c;
$purple-800: #5b3e80;
$purple-700: #7f56b3;
$purple-600: #a36fe6;
$purple-500: #b57bff;
$purple-400: #c495ff;
$purple-300: #d3b0ff;
$purple-200: #f0e5ff;
$purple-100: #f8f2ff;

$teal-600: #159f9f;
$teal-500: #17b1b1;
$teal-200: #d1efef;
$teal-100: #e8f7f7;

$teal-light: #82e7cf;
$teal-selection: rgba(111, 231, 207, 0.9);
$teal-med: #23bfb6;

// Site Settings:
$background: oldlace;
$text-black: $grey-900;
