$serif-stack: "Computer Modern Serif", Georgia, Times, serif;
$sans-serif-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol";

$monospace-stack: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono",
	"Courier New", monospace;
