$serif-stack: "DM Serif Display", Times, serif;
$article-stack: "Amiri", Times, serif;
$sans-serif-stack: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";