@import "./imports";

html,
body,
#root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: $background;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: $serif-stack;
  font-size: 16px;
  line-height: 1.5;
  color: $text-black;
  -webkit-font-smoothing: antialiased;

  * {
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (min-width: 768px) and (max-width: 1400px) {
    font-size: 14px;
  }
}

h1 {
  font-family: $serif-stack;
  font-weight: 800;
  font-size: 3em;
  letter-spacing: -0.005em;
  color: $text-black;
}

h2 {
  font-family: $serif-stack;
  margin: 0;
  font-size: 1.75em;
  font-weight: 900;
  color: $text-black;
}

h3 {
  margin: 0;
  font-family: $serif-stack;
  font-size: 1.5em;
  font-weight: normal;
  color: $text-black;
}

h4 {
  margin: 0;
  font-family: $serif-stack;
  font-size: 100%;
  font-weight: 500;
  color: $text-black;
}

body {
  margin: 0;
  font-family: $serif-stack;
  font-size: 105%;
  font-weight: 500;
  color: $text-black;
}

span {
  margin: 0;
  font-family: $serif-stack;
  font-size: 100%;
  font-weight: normal;
  color: $text-black;
}

button {
  border-radius: 7px;
  border-width: thin;
  padding: 5px 10px;
  background: none;
  border-style: 1px $text-black solid;
  font-family: $sans-serif-stack;
  font-size: 100%;
  color: $text-black;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border-style: solid;
  }
}

input {
  font-family: $sans-serif-stack;
  -webkit-appearance: none;
  font-size: 0.9em;
  font-weight: normal;
  outline: none;
}

textarea {
  outline: none;
  -webkit-appearance: none;
  min-height: 50px;
  font-family: $sans-serif-stack;
  resize: none;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 12px 11px;
}

code,
.token {
  font-family: $monospace-stack;
  font-size: 90%;
  margin: 0;
}

.overflow-auto {
  overflow: auto;
}

.prism-code {
  font-family: $monospace-stack;
  border-radius: 6px;
  padding: 10px;
  background-color: rgba(white, 0.9) !important;
}
