.Layout {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__children {
        flex: 1;
        padding: 1vh 30vw;
    }
    &__footer {
        flex-shrink: 0;
        bottom: 0;
    }
}