@import "./burger-menu.scss";

.Header {
  width: 100%;
  position: relative;
  top: 0;
  height: 10vh;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__logo {
    margin: 0px 0px 0px 36px;
    text-decoration: none;
    &__text {
      font-size: 20px;
    }
  }

  &__menu {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
